@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'IDroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063e1e
*/


/* ################# CONFIGURAÇÃO GERAL */
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063e1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'IDroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
img {
    width: 100%;
}

img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}
a.external::after {
    content: " 🔗";
}



/* ################# HEADER */
header {
    background-image: linear-gradient(var(--cor2), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.398);
    margin-bottom: 20px;
} 
header > p {
    color:white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.398);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin: auto;
}


/* ################# NAV */
nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.151);
    padding: 10px;
    padding-bottom: 15px;
}

nav > a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 10px;
}


/* ################# MAIN */
main {
    background-color: white;
    box-shadow: 0px 0px 10px #00000070;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 0px 0px 10px 10px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height:1.4em;
    margin: 15px 0px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bold;
    text-decoration: underline;
    padding: 2px 4px;
    transition-duration: .5s;
}

main a:hover {
    color: black;
    padding: 3px 5px;

}

main h2 {
    background-image: linear-gradient(145deg,#a5edc57c, white);
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: normal;
    text-indent: 7px;
}

main h1 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: normal;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* ################# ASIDE */
aside {
    background-color: var(--cor1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.177);
    border-radius: 10px;
    padding: 10px;
}
aside ul {
    list-style-position: inside;
    list-style-type: '\2713\00A0';
    columns: 2;
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    margin: -10px -10px 0px -10px;
}

/* ################# FOOTER */
footer {
    background-color: var(--cor5);
    color: white;
    font-size:0.9em;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
}
footer a {
    color:white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: .5s;
}
footer a:hover {
    color: white;
    font-size: 1.1em;
}
footer p {
    margin: 5px;
}